h1{
    color: black;
    text-align: center;
}
p {
    color: red;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: whitesmoke;
  
}

img{

    height: 50rem;
    width: 78rem;
    position: relative;
    
}
